<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136146624285-v91vjhaabkjf7e7066vemf9esvnsvbvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136146624285-v91vjhaabkjf7e7066vemf9esvnsvbvo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>136146624285-nqs5la7jpdgp92jcpcadk1e750ll0ik8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBalgzix0MRm3CoarcdSiZjwT4B0iVOckY</string>
	<key>GCM_SENDER_ID</key>
	<string>136146624285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.fluttertok</string>
	<key>PROJECT_ID</key>
	<string>flutter-tok</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-tok.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136146624285:ios:6cfc3f0c31e2ebf6940bf4</string>
</dict>
</plist>